<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="spiral.bit.dev.imageloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/alert_dark_frame"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/alert_dark_frame"
        android:supportsRtl="true"
        android:name=".BaseApp"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ImageLoader"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="spiral.bit.dev.imageloader.ui.features.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>